name: Build and deploy Python app to Azure Web App - testwebapprahul123

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Install Dependencies
        run: |
          pip install tensorflow numpy pytest

      - name: Run data-preparation.py
        run: python src/data_preparation.py

      - name: Run model.py
        run: python src/model.py

      - name: Run tests and generate XML report
        run: |
          pytest tests/test_classification_project.py --junitxml=test-results.xml

      - name: Generate HTML report from XML
        run: |
          pytest --cov-report=html:cov_html tests/test_classification_project.py

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            test-results.xml
            cov_html  # The HTML coverage report directory

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v2
        with:
          name: python-app
          path: |
            . 
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: python-app
          path: .
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'testwebapprahul123'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_917C69FDA4844D62BA639E70D66F11C5 }}
